@model IEnumerable<imagesAzureProject.Models.Image>

@{
    ViewBag.Title = "Home";
}

<h2>Index</h2>
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @if (TempData["SuccessfulDelete"] != null)
    {
        <div class="green">
            <p style="color:lightgreen"><strong>Success:</strong> @TempData["SuccessfulDelete"].ToString()</p>
        </div>
    }
    </div>
    <p>
        @Html.ActionLink("Create New", "AddImage", "Images")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Images", new { id = item.Id }, null) | 
                    @Html.ActionLink("Delete", "DeleteImage", "Images", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>
